In [62]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [63]:
train_df = pd.read_csv('train_final_1.csv')
train_df.head(5)

,customer_id,vendor_id,LOCATION_NUMBER,CID X LOC_NUM X VENDOR,Customer_label,c_l,c_latitude,c_longitude,v_latitude,v_longitude,v_rating,v_serving_distance
0,000THBA,148,0,000THBA X 0 X 148,0,000THBA_0,-0.020250,0.167026,-0.482865,0.075989,4.1,15.0
1,002510Y,157,0,002510Y X 0 X 157,1,002510Y_0,0.056822,-78.597624,0.055885,0.533995,4.3,15.0
2,005ECL6,237,0,005ECL6 X 0 X 237,2,005ECL6_0,-0.315825,0.158935,-0.943419,0.081702,4.6,15.0
3,005ECL6,237,0,005ECL6 X 0 X 237,2,005ECL6_0,-0.315825,0.158935,-0.943419,0.081702,4.6,15.0
4,0075AM7,145,0,0075AM7 X 0 X 145,3,0075AM7_0,0.080774,-0.012308,-0.605892,0.072953,3.2,15.0

In [64]:
train_df.isna().sum()

customer_id               0
vendor_id                 0
LOCATION_NUMBER           0
CID X LOC_NUM X VENDOR    0
Customer_label            0
c_l                       0
c_latitude                0
c_longitude               0
v_latitude                0
v_longitude               0
v_rating                  0
v_serving_distance        0
dtype: int64

In [65]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

y = train_df.vendor_id
features = ['c_latitude', 'c_longitude']
X = train_df[features]

train_X, val_X, train_y, val_y = train_test_split(X,y, random_state=0)

model = RandomForestClassifier()
model.fit(train_X, train_y)
prediction = model.predict(val_X)

prediction

array([196, 195,  13, ..., 105, 459,  84], dtype=int64)

In [66]:
score = model.score(val_X, val_y)
mae = mean_absolute_error(val_y, prediction)
print(score, mae)

0.35760532150776053 131.40875092387287

In [67]:
prediction_df = pd.DataFrame(data=prediction, columns=['prediction'])
prediction_df

       prediction
0             196
1             195
2              13
3              83
4             113
...           ...
33820         149
33821         583
33822         105
33823         459
33824          84

[33825 rows x 1 columns]

In [69]:
final_sub = pd.read_csv('final_sub.csv')
final_sub = final_sub.drop(['customer_id', 'location_number'], axis = 1)
final_sub = final_sub.dropna()
final_sub = final_sub.reset_index(drop=True)
final_sub.head(5)

  CID_X_LOC_NUM_X_VENDOR  target vendor_id        c_l  c_latitude  c_longitude
0      Z59FTQD X 0 X 243       0       243  Z59FTQD_0  126.032278    -9.106019
1      0JP29SK X 0 X 243       0       243  0JP29SK_0    0.278709   -78.623847
2      0JP29SK X 1 X 243       0       243  0JP29SK_1    0.124485   -78.605621
3      0JP29SK X 2 X 243       0       243  0JP29SK_2   -0.113891   -78.577449
4      0JP29SK X 3 X 243       0       243  0JP29SK_3   -0.848796     0.136726

In [70]:
final_sub.shape

(1372500, 6)

In [71]:
sub_f = final_sub.drop(['CID_X_LOC_NUM_X_VENDOR', 'target', 'vendor_id', 'c_l'], axis = 1)
sub_f.head(5)

   c_latitude  c_longitude
0  126.032278    -9.106019
1    0.278709   -78.623847
2    0.124485   -78.605621
3   -0.113891   -78.577449
4   -0.848796     0.136726

In [72]:
sub_predict = model.predict(sub_f)
sub_predict_df = pd.DataFrame(data=sub_predict, columns=['prediction'])
sub_predict_df.head(5)

   prediction
0         294
1          82
2         113
3          90
4         846

In [73]:
sub_predict_df.shape

(1372500, 1)

In [74]:
sub_predict_df.isna().sum()

prediction    0
dtype: int64

In [75]:
sub_predict_df.to_csv('prediction.csv', index=False)